body[data-theme='dark'],
body[data-theme='light'] {
  /* Text Colors */
  --text-0: #000;
  --text-1: #fff;
  --text-white-2: #f2f2f2;
  --text-white-3: #eee;
  --text-white-4: #ddd;
  --text-gray-1: #9398a0;
  --text-gray-2: #aaa;
  --text-link: #3ea6ff;

  /* Background Colors */
  --bg-0: #000;
  --bg-1: #fff;
  --bg-2: #0d1117; /* Temporary/Original Testing - BG for Sidebar */
  --bg-3: #151b23; /* Temporary/Original Testing - BG of Dropdown in Sidebar */
  --bg-hover-1: #ddd;
  --bg-hover-2: rgb(255, 255, 255, 0.1);
  --bg-hover-3: rgb(255, 255, 255, 0.2);
  --bg-dropdown: #282828;
  --bg-dropdown-item-hover: #3e3e3e;


  /* A bunch of background colors I was testing out */
  --bg-4: #181a1d;
  --bg-5: #242629;
  --bg-6: #272c2f;
  --bg-7: #2c3032;
  --bg-8: #131517;
  --bg-9: #1e202b;
  --bg-10: #212325;
  --bg-11: #0f0f0f;
  --bg-12: #121212;
  --bg-13: #222;
  --bg-14: #282828;
  --bg-15: #3e3e3e;
  --bg-16: #272727;
  --bg-17: #0e1113;
  --bg-18: #2a3236;
  --bg-19: #000;
  --bg-20: #181c1f;


  /* Border Colors */
  --border-white: #fff;
  --border-gray-1: #888; /* Border Colors in Sidebar */
  --border-gray-2: #3f4043;

  /* Other Colorful Colors */
  --red-1: #f00;
  --red-2: #ad1216;
  --red-purple: #610429;
  --indigo: #4b0082;
  --blue-violet: #8a2be2;
  --dark-violet: #9400d3;
}
