
html { height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  box-shadow: 0px 15px 25px rgba(0,0,0,.6);
  transform: translate(-50%, -50%);


  h2 {
    margin: 0px 0px 30px;
    padding: 0px;
    color: #fff;
    text-align: center;
  }


  .user-box {
    position: relative;

    input {
      width: 100%;
      margin-bottom: 30px;
      padding: 10px 0px;
      color: #fff;
      font-size: 16px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #fff;
    }


    label {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 10px 0px;
      color: #fff;
      font-size: 16px;
      transition: 0.5s;
      pointer-events: none;
    }


    input:focus ~ label,
    input:valid ~ label {
      top: -20px;
      left: 0px;
      color: #03e9f4;
      font-size: 12px;
    }
  }

  form a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
  }

  a {
    &:hover {
      color: #fff;
      background: #03e9f4;
      border-radius: 5px;
      box-shadow: 0px 0px 5px #03e9f4,
                  0px 0px 25px #03e9f4,
                  0px 0px 50px #03e9f4,
                  0px 0px 100px #03e9f4;
    }

    span {
      display: block;
      position: absolute;
    }

    span:nth-child(1) {
      top: 0px;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-anim1 1s linear infinite;
    }

    span:nth-child(2) {
      top: -100%;
      right: 0px;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #03e9f4);
      animation: btn-anim2 1s linear infinite;
      animation-delay: 0.25s;
    }

    span:nth-child(3) {
      right: -100%;
      bottom: 0px;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #03e9f4);
      animation: btn-anim3 1s linear infinite;
      animation-delay: 0.5s;
    }

    span:nth-child(4) {
      bottom: -100%;
      left: 0px;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #03e9f4);
      animation: btn-anim4 1s linear infinite;
      animation-delay: 0.75s;
    }
  }
}

@keyframes btn-anim1 {
  0% { left: -100%;  }
  50%, 100% { left: 100%; }
}

@keyframes btn-anim2 {
  0% { top: -100%; }
  50%, 100% { top: 100%; }
}

@keyframes btn-anim3 {
  0% { right: -100%; }
  50%, 100% { right: 100%; }
}

@keyframes btn-anim4 {
  0% { bottom: -100%; }
  50%, 100% { bottom: 100%; }
}
