@use '@/styles/mixins';

.PostCard {


  &.forum-style-card {
    width: 100%;

    .post-header {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    .post-title-wrapper {
      width: 100%;
      padding: 8px 16px;
      cursor: pointer;
      border: 1px solid #ff0;

      .post-title {
        font-size: 24px;
        color: var(--text-white-3);
      }

      &:hover {
        .post-title {
          color: var(--text-1);
        }
      }
    }

    .post-content-wrapper {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    .post-footer {
      @include mixins.FlexSpaceBetween;
      border: 1px solid #f00;

      .post-date {

        .post-date-label {

        }

        .post-date-value {

        }
      }

      .post-id {

        .post-id-label {

        }

        .post-id-value {

        }
      }
    }
  }

  &.full-style-card {
    width: 100%;
    display: flex;
    flex-direction: column;

    .post-header {
      @include mixins.Flex;

      .profile-icon-wrapper {
        width: 36px;
        height: 36px;
        margin-right: 12px;

        .profile-icon {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
      }

      .username-wrapper {

        .profile-username {
          
        }
      }
    }

    .post-title-wrapper {

      .post-title {

      }
    }

    .post-content-wrapper {

      .post-content {
        white-space: pre-wrap;

      }
    }

    .post-footer {
      @include mixins.FlexSpaceBetween;

      .post-date {

        .post-date-label {

        }

        .post-date-value {

        }
      }

      .post-id {

        .post-id-label {

        }

        .post-id-value {

        }
      }
    }
  }
}

