@use '@/styles/mixins';

.PostMainContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: 24px;

  .post-body {
    flex: 1;
    overflow-y: auto;
  }
}
