.DropdownMenu {
  display: inline-block;
  position: relative;

  .dropdown-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .dropdown-list {
    z-index: 3000 !important;
    position: absolute;
    top: calc(100% + 6px);
    right: 0px;
    min-width: 220px;
    padding: 8px 0px;
    background: #202020;
    border-radius: 10px;
    box-shadow: 0px 2px 12px rgb(0, 0, 0, 0.5);
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 255, 255, 0.1);
    }

    .icon-placeholder {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-color: red;
      border-radius: 4px;
    }

    span {
      font-size: 14px;
      white-space: nowrap;
    }
  }

  .dropdown-divider {
    height: 1px;
    margin: 6px 0px;
    background-color: rgb(255, 255, 255, 0.2);
  }

  .dropdown-profile-header {
    display: flex;
    align-items: center;
    padding: 12px 16px;

    .profile-icon-placeholder {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-color: #fff;
      border-radius: 50%;
    }

    .profile-info {
      display: flex;
      flex-direction: column;

      .username {
        color: #fff;
        font-weight: bold;
      }

      .view-profile {
        color: #fff;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
