@use '@/styles/mixins';

.PostStatusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  color: #aaa;
  font-size: 12px;

  .status-meta {
    display: flex;
    gap: 4px;
    cursor: default;

    .label {
      font-weight: 500;
    }
  }

  .post-id {
    opacity: 0.6;
    font-family: monospace;
  }
}

